body {
    margin: 0;
    padding: 0;
}
        /*header*/
header {
    background-color:#d35649;
    
}
#events{
    margin-left: -40%;
}
#nav{
margin-left: 20%;
}
a{
    padding: 0% 2%;
}


    /*le footer*/
footer{
    background-color: black;
}
